:root {
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}
/*===============COMPONENTS==========*/
.part-logo {
  color: #2196f3;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-list :hover,
.menu-list :focus {
  color: var(--accent-color);
}
.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*==============END COMPONENTS======*/
/*================HEADER================*/
.contacts-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-list :hover,
.contacts-list :focus {
  color: var(--accent-color);
}
.tel-link {
  color: #757575;
}
.mail-link {
  color: #757575;
}

/*===========END HEADER============*/
/*================SECTION HERO============*/
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: #188ce8;
}
/*===============SECTION SKILLS========*/
.skills-title {
  color: transparent;
}
.description-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.description {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
/*============END SECTION SKILLS======*/
/*===========SECTION ABOUT==========*/
.team-list-sub-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}
.team-list-description {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
/*============END SECTION ABOUT======*/
/*==========SECTION FILTERS=========*/
.filters-title {
  color: transparent;
}
.filters-list-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
}
.filters-list-btn:hover,
.filters-list-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.projects-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-description {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
